<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RaclickAcademy.MavenjavaProject.AppiumTest">
      
      <methods>
      <include name = "NativeAppAndroid">
      
      </include>
      
      </methods>
      </class>
      
      
      <class name="RaclickAcademy.MavenjavaProject.SeleniumTest"/>
      <class name="RaclickAcademy.MavenjavaProject.RestApiTest">
      <methods>
      <exclude name = "PostJira">
      
      </exclude>
      
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
